<div class="container" *ngIf="renter">
	<form class="p-3" (ngSubmit)="onSubmit()">
		<input type="hidden" name="id" [(ngModel)]="renter.id" />
		<div class="form-group mb-2">
			<label class="mb-1">Full name:</label>
			<input
				type="text"
				class="form-control"
				name="fullName"
				[(ngModel)]="renter.fullName"
				required
			/>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1">Mobile:</label>
			<input
				type="tel"
				class="form-control"
				name="mobile"
				[(ngModel)]="renter.mobile"
				required
			/>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1">E-Mail:</label>
			<input
				type="email"
				class="form-control"
				name="email"
				[(ngModel)]="renter.email"
				disabled
			/>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1">Parmanent Address:</label>
			<input
				type="text"
				class="form-control"
				name="address"
				[(ngModel)]="renter.address"
				disabled
			/>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1">Deal:</label>
			<textarea
				name="deal"
				[(ngModel)]="renter.deal"
				class="form-control"
				required
			></textarea>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1"
				>Building: (currently : <b>{{ renter.building }}</b
				>)</label
			>
			<select
				class="form-select"
				name="building"
				[(ngModel)]="renter.building"
				(change)="setFloor(renter.building)"
				required
			>
				<option
					*ngFor="let building of buildings"
					value="{{ building.name }}"
				>
					{{ building.name }}
				</option>
			</select>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1"
				>Floor: (currently : <b>{{ renter.floor }}</b
				>)</label
			>
			<select
				class="form-select"
				name="floor"
				[(ngModel)]="renter.floor"
				(change)="getFlats(renter.floor, renter.building)"
				required
			>
				<option *ngFor="let floor of floors" value="{{ floor }}">
					{{ floor }}
				</option>
			</select>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1"
				>Flat: (currently : <b>{{ renter.flat }}</b
				>)</label
			>
			<select
				class="form-select"
				name="flat"
				[(ngModel)]="renter.flat"
				required
			>
				<option *ngFor="let flat of flats" value="{{ flat }}">
					{{ flat }}
				</option>
			</select>
		</div>
		<input type="submit" class="form-control btn btn-primary" />
	</form>
</div>
