<div class="login">
	<div class="container">
		<div class="login-form">
			<h3 class="text-center my-4">Login</h3>
			<p class="text-center text-danger">{{ message }}</p>
			<form class="form" #form (ngSubmit)="onSubmit()">
				<div class="form-group mb-2">
					<label class="mb-1">E-mail:</label>
					<input
						type="email"
						name="email"
						[(ngModel)]="email"
						placeholder="Your email address..."
						class="form-control"
					/>
				</div>
				<div class="form-group mb-3">
					<label class="mb-1">Password:</label>
					<input
						type="password"
						name="password"
						[(ngModel)]="password"
						placeholder="Password..."
						class="form-control"
					/>
				</div>
				<p class="mb-4">
					Need an account? <a routerLink="/signup">Sign up</a>
				</p>
				<div class="form-group mb-2">
					<input
						type="submit"
						value="submit"
						class="form-control btn btn-primary"
					/>
				</div>
			</form>
		</div>
	</div>
</div>
