<div class="container" *ngIf="flat">
	<form class="p-3" (ngSubmit)="onSubmit(flat)">
		<div class="form-group mb-2">
			<label class="mb-1">Building name: </label>
			<input
				type="text"
				class="form-control"
				value="{{ flat.buildingName }}"
				disabled
			/>
		</div>

		<div class="form-group mb-2">
			<label class="mb-1"
				>Floor: (currently : <b>{{ flat.buildingFloor }}</b
				>)</label
			>
			<input
				type="text"
				class="form-control"
				value="{{ flat.buildingFloor }}"
				disabled
			/>
		</div>

		<div class="form-group mb-2">
			<label class="mb-1">Flat number:</label>
			<input
				type="text"
				name="flatNumber"
				[(ngModel)]="flat.flatNumber"
				class="form-control"
			/>
		</div>
		<div class="form-group mb-2">
			<label class="mb-1"
				>Rented: ({{ flat.rented == "true" ? "Yes" : "No" }})</label
			>
			<select class="form-select" name="rented" [(ngModel)]="flat.rented">
				<option value="false" selected>No</option>
				<option value="true">Yes</option>
			</select>
		</div>
		<input type="submit" class="form-control btn btn-primary" />
	</form>
</div>
