<div class="container-fluid">
	<h2 class="mb-3">Flat list</h2>
	<a routerLink="/flat-add" class="btn btn-primary mb-3"
		>Add flat <fa-icon [icon]="faPlus" class="ms-2"></fa-icon>
	</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Flat number</th>
				<th scope="col">Building name</th>
				<th scope="col">Floor</th>
				<th scope="col" class="text-center">Manage</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let flat of flats; index as i">
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ flat.flatNumber }}</td>
				<td>{{ flat.buildingName }}</td>
				<td>{{ flat.buildingFloor }}</td>
				<td class="text-center">
					<button
						class="btn btn-primary btn-sm me-4"
						(click)="openModal(flat)"
					>
						<fa-icon [icon]="faPencil"></fa-icon>
					</button>
					<button
						class="btn btn-danger btn-sm"
						(click)="deleteFlat(flat)"
					>
						<fa-icon [icon]="faTrash"></fa-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<p *ngIf="flats.length == 0">No flats were found</p>
</div>
